.header {
  &__content {
    background-image: url(../images/header.png);
    height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    @include full-bleed-bar;

    padding-bottom: 40px;
    text-align: left;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-heading;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
    }
  }
}
