.menu {
  box-sizing: border-box;

  height: 100vh;
  overflow: auto;
  background-color: #e5e6e8;
  font-weight: 700;
  text-transform: capitalize;
  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e5e6e8;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__call {
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  &__call-to-order {
    padding-bottom: 4px;
    border-bottom: 1px solid $main-color;
    width: fit-content;
    margin-top: 16px;
  }
}
