.top-bar {
  box-sizing: border-box;
  padding-block: 24px;
  width: 100%;
  
  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    box-sizing: unset;
    padding-block: 32px;
  }

  @include on-desktop {
    box-sizing: unset;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include on-tablet {
      height: 24px;
    }

    @include hover(transform, scale(1.2));
  }
}
