@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
    margin-inline: auto;
    max-width: 600px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-inline: 120px;
    max-width: 1020px;
  }
}

@mixin hover($property, $value) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $value;
  }
}

@mixin full-bleed-bar {
  box-sizing: border-box;
  width: 100%;

  @include content-padding-inline;

  @include on-tablet {
    box-sizing: unset;
  }

  @include on-desktop {
    box-sizing: unset;
  }
}

@mixin grid-span-desktop($span) {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span $span;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    column-gap: 24px;

    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin cta-button {
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: $main-color;
  color: $color-white;
  cursor: pointer;
  font-weight: 700;
  line-height: 27px;

  @include hover(all, null);

  &:hover {
    background-color: $color-bg-light;
    color: $main-color;
    border: 2px solid $color-border-light;
  }

  &:active {
    color: $color-white;
    background-color: $color-dark;
  }
}
