$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-color: #292929;

$font-heading: 'Space Grotesk', sans-serif;
$font-mono: 'Space Mono', sans-serif;

$color-white: #fff;
$color-bg-light: #f8f8fa;
$color-border-light: #f0f1f4;
$color-dark: #111;
